 <div class="row">
  <div class=<%= width_on_param %>>



    <!--<form class="navbar-form" role="search" method="get" id="search-form" name="search-form">-->
    <%= form_for @product, url: locate_stores_path, method: :get do |f| %>
    <div class="input-group search-bar">

      <!--<input type="text" class="form-control" placeholder="Search Products" id="query" name="query" value="" required>-->
      
      <%= select_tag 'query', options_from_collection_for_select(Product.all, "id", "name", params[:query]),include_blank: true,:data => {:placeholder => 'Please Enter Products'}, class: 'chosen-select form-control', multiple: true, :disabled => params[:query].nil? ? false : true%>
    
          
    <!-- edit option to check after page reload -->   
      <%#= select_tag 'query', options_from_collection_for_select(Product.all, "id", "name", 1),include_blank: true,:data => {:placeholder => 'Please Enter Products'}, class: 'chosen-select form-control', multiple: true, :disabled => params[:query].nil? ? false : false%>
      <%#= select_tag 'query[state_id]', options_from_collection_for_select(Product.all, "id", "name", params[:query][:state_id].to_i),include_blank: true,:data => {:placeholder => 'Please Enter Products'}, class: 'chosen-select form-control', multiple: true, :disabled => params[:query].nil? ? false : false%>
      
      <div class="input-group-btn">
        <!--<button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>-->
       <!-- Added disable with feature-->
        <%= submit_tag 'Search', :class=>"btn btn-success", :value=>"Search", data: {disable_with: "Searching..."} %><i class="fa fa-search"></i>
      </div>
    </div>
    <%end%>
    <!--</form>-->
  </div>
<% if params[:query] %>
  <div class="col-lg-3">
       <div class="controls">
           <!--<label class="class-label"><input name="text" type="text" value="Sort By: " style="width: 67px;height: 27px;"></label>-->
           <input type="text" name="commit" value="Sort By" class="btn btn-success" style="width: 79px;height: 29px;">
           <select class="form-control">
             <option>Fullfilment</option>
           </select>
      </div>     
  </div>   
<% end %>

  
  <div class=<%= width_on_param %>>
    <div id="map" style="height: 500px;"></div>
  </div>
  <% if params[:query] %>
  <div class="col-lg-3">
    <%= render 'suggested_stores' %>
  </div>
  <% end %>
</div>

<% if params[:query] && !@stores.blank? %>
<%= render "store_product_map" %>
<div class="sort" style="display:block"></div>
<% else %>
<%= render "locate_map" %>
<% end %>

<script>
  $( document ).ready(function() {
    $(".chosen-drop").hide();
    $(".default").keypress(function() {
     $(".chosen-drop").show(); 
   });
  });

</script>